{% extends "katex" %}
{% block head %}
<title>
    Tags | {{lp_config.site.site_name}}
</title>
{{super()}}
{% endblock head %}}

{% block body %}
{% for tag in tags_index %}
<h1>
    <a href="/tags/{{tag}}" class="noa"> {{tag}}</a>
</h1>
{% endfor %}
{{super()}}
{% endblock body %}